Pygments==1.6
cssselect==0.9.1
flake8==2.1.0
howdoi==1.1.6
lxml==3.3.5
mccabe==0.2.1
pep8==1.5.7
pyflakes==0.8.1
pyquery==1.2.8
requests==2.3.0
requests-cache==0.4.4
stevedore==0.15
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3
wsgiref==0.1.2
